*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}
body{
    background-image: linear-gradient(to right,#0030f2cb,#07365E);
}

                                /*Conf Header*/

header{
    display: flex;
    justify-content: center;
    height: 70px;
    
    /*background-color: red;*/
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1150px;
}
.line{
    border-bottom: 1px solid #EAF306;
}
.logo{
 display: flex;
 align-items: center;
}
.logo a{
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
}
nav .active a,
nav a:hover{
    background-color: #c4c4c42c;
    color: #EAF306;
}


                /*Section Bg*/

section{
    height: 91vh;
    display: flex;
    justify-content: center;
}       
.desc-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.text-left p{
    color: #ffffff;
    font-size: 35px;
}
.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#ebf30679,#ebf306d0);
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border-radius: 2px;
    }
.btn-submit a{
    text-decoration: none;
}
.btn-submit p{
    display: block;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold
}
.btn-submit:hover{
    background-color: #c4c4c42c;
    background-image: none;
}

.desc-right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    background-color: #e6ee0ae3;
    border-radius: 3px 3px 3px 130px;
    box-shadow: 40px -40px 5px #e6ee0ac9;
}
.container-left{
    width: 380px;
    height: 304px;
    position: relative;
}
.container-left img{
    width: 400px;
    position: absolute;
    top: -30px;
}
.right{
    display: flex;
    width: 20px;
    height: 250px;
    padding: 4px;
    writing-mode: vertical-lr;
}
.right a{
    display: block;
    font-size: 16px;
    margin: 10px;
    color: #ffffff;
    transform: rotate(180deg);
    text-decoration: none;
}
.circle{
    display: flex;
    width: 7px;
    height: 7px;
    background-color: #e6ee0ae3;
    border-radius: 50%;
}
